<%= form_for([@profile, @profile.profile_images.build]) do |f| %>
	<div class="field">
		<%= f.label :url %>
		<br />
		<%= f.text_field :url %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>