<%= link_to(add_to_favs_path(:id => profile_id), {:remote => true, :rel => 'nofollow', :class => "button", :id => "add-to-favs" }) do %>
  <span style="width: 150px;">Add to Favorites</span>
<% end %>