<% unless notice.blank? %>
	<div class="content-container">
		<div class="notice"><%= notice %></div>
	</div>
	<div class="spacer"></div>
<% end %>

<% unless alert.blank? %>
	<div class="content-container">
		<div class="alert"><%= alert %></div>
	</div>
	<div class="spacer"></div>
<% end %>