<table>
	<tr>
		<th colspan="6">datecombinator - the dating search engine</th>
	</tr>
	<tr>
		<td>1<br/>Enter your search criteria</td>
		<td>
			We understand how overwhelming online dating can be. 
			With so many sites to choose from, how do you know which one to sign up for? 
			Are you missing out on opportunities on sites you haven't heard of? 
			Luckily, Datecombinator is here. Begin by entering your search criteria.
		</td>
	</tr>
	<tr>
		<td>2<br/>Search popular datings sites at once without membership</td>
		<td>
			We are not just another dating site to make the matters more complicated.
			Datecombinator is a dating search engine that searches across numerous sites 
			to bring you your best matches. You no longer need to signup on a dating site 
			without seeing what they offer first.
		</td>
	</tr>
	<tr>
		<td>3<br/>Browse profiles, add to favorites, and contact via options provided</td>
		<td>
			Browse profiles, view images, and see which dating site they are a member of.
			Once you decide to contact a profile, simply click Contact Via button, and we'll direct you to 
			the dating site they belong to. At this point, membership might be required (paid or free) to 
			contact the profile.
		</td>
	</tr>
</table>
