<div class="howitworks-container">
	<table cellspacing="0" class="transparent-bg" align="center">
		<tr>
			<th colspan="6"><h2>datecombinator - the dating search engine</h2></th>
		</tr>
		<tr>
			<td class="headline" align="right"><h2>1</h2>Enter your search criteria</td>
			<td valign="bottom">
				<label>
					We understand how overwhelming online dating can be. With so many websites to choose from, 
					how do you know which one to sign up for? Luckily, Datecombinator is here to help you. 
					Begin by entering your search criteria.
				</label>
			</td>
		</tr>
		<tr>
			<td class="headline" align="right"><h2>2</h2>Search popular datings sites at once without membership</td>
			<td valign="bottom">
				<label>
					We are not just another dating site to make the matters more complicated. Datecombinator is a 
					dating search engine that searches across numerous sites to bring you your best matches. You no 
					longer need to signup on a dating site without seeing what they offer first.	
				</label>
			</td>
		</tr>
		<tr>
			<td class="headline" align="right"><h2>3</h2>Browse profiles, add to favorites, and contact</td>
			<td valign="bottom">
				<label>
					Browse profiles, view images, and see which dating site they belong to. Once you decide 
					to contact a profile, simply click Contact Via button, and we'll redirect you to their 
					full profile. At this point, membership might be required (paid or free) to contact the profile.	
				</label>
			</td>
		</tr>
	</table>
</div>
