<div>
	<div class="left"><%= link_to image_tag("account-settings.png", :border=>0), edit_user_registration_path %></div>
	<div class="right"><%= link_to image_tag("favorites.png", :border=>0), favorites_path %></div>
	<div class="clear"></div>
</div>
