/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

$page-background-color: #eeeeee;
$container-border-color: #dddddd;
$font-color: #555555;
$footer-link-color: #ffffff;
$gold: #AD995D;
$wine: #870120;
$container-background-color: #ffffff;
$footer-background-color: #CFC292;
$side-margin: 15%;
$footer-height: 142px;
$offset-footer-height: 162px;
$form-font-size: 15px;

/* MIXIN Begins */
@mixin container-common {
  border: 1px solid $container-border-color;
  background-color: $container-background-color;
  padding: 30px;
  @extend .side-spacer;
}

@mixin no-margin-padding {
  margin: 0;
  padding: 0;
  display: block;
}

@mixin header-common {
  color: $gold;
}

@mixin logo-common {
  width: 300px;
  height: 70px;
  z-index: 1000;
}
/* MIXIN Ends */

html, body {
  /*georgia,"helvetica neue","microsoft sans serif",arial,sans-serif*/
  font: 12px Arial, Helvetica, sans-serif;
  margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
  padding: 0;
  color: $font-color;
  height: 100%;
  background-color: $page-background-color;
}

a { 
  color: $wine;
  &:visited { color: $wine; }
  &:hover { color: $gold; }
}

input, textarea, select {
  border: 1px solid #cccccc;
  padding: 4px;
  height: 25px;
  width: 250px;
  font-size: $form-font-size;
  line-height: 25px;
  color: $font-color;
}

form i {
  color: $gold;
}

label {
  font-size: $form-font-size;
}

#user_remember_me {
  width: auto;
  height: auto;
}

#search-form input, textarea, select {
  width: auto;
  height: auto;
}

h2 {
  @include header-common;
  font-weight: lighter;
  font-size: 24px;
}

.headline {
  @include header-common;
  font-size: 16px;
  font-weight: bold;
}

.logo {
  @include logo-common;
  background: transparent url("dc-logo-lc.png") no-repeat left top;
  position: absolute;
  top: 8px;
  left: $side-margin;
}

.footer-logo {
  @include logo-common;
  background: transparent url("dc-logo-lc-white.png") no-repeat left top;
}

/* Container Styles Begin */
.body-container {
  min-height: 100%;
  margin: -$offset-footer-height auto auto; /* the bottom margin is the negative value of the footer's height */
  height: auto !important;
  height: 100%;
  clear: both;
}

.header-container {
  @include no-margin-padding;
  border-top: $offset-footer-height solid #fff;
  border-bottom: 1px solid $container-border-color;
  position: relative;
  z-index: 98;
  height: 70px;
  text-align: right;
  background-color: $container-background-color;
}

.content-container {
  @include container-common;
}

.splash-female {
  @include container-common;
  background: #ffffff url("splash-female.jpg") no-repeat left top;
  height: 400px;
}

.splash-female-2 {
  @include container-common;
  background: #ffffff url("splash-female-2.jpg") no-repeat left top;
  height: 400px;
}

.splash-male {
  @include container-common;
  background: #ffffff url("splash-male.jpg") no-repeat left top;
  height: 400px;
}

.search-container-flat {
  @include container-common;
  height: 75px;
}

.howitworks-container {
  background: #ffffff url("splash-female.jpg") no-repeat left top;
}

.footer-container {
  height: $footer-height;
  background-color: $footer-background-color;
  padding-top: 20px;
  text-align: center;
  width: 100%;
  clear: both;
  color: $gold;
  
  & a {
    color: $footer-link-color;
    text-decoration: none;
    font-weight: bold;
    &:visited { color: $footer-link-color; }
    &:hover { color: $footer-link-color; text-decoration: underline; }
  }
}

.centered-container {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* Container Styles End */

/* Spacers Begin */
.spacer {
  @include no-margin-padding;
  position: relative;
  height: 20px;
}

.spacer-2 {
  @include no-margin-padding;
  position: relative;
  height: 10px;
}

#top-spacer {
  padding-top: 5px;
}

.side-spacer {
  margin-left: $side-margin;
  margin-right: $side-margin;
}
/* Spacers End */

.left {
  float: left;
  padding-left: 200px;
}

.right {
  float: right;
  padding-right: 200px;
}

.clear { clear: both;}

.search-form {
  padding: 15px;
  float: right;
  margin-top: 100px;
  height: 200px;
  background: transparent url("search-form-bg.png") left top;
  color: #ffffff;
}
