/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

$odd-row-background-color: #eeeeee;
$container-border-color: #dddddd;

td {
  padding: 20px 0 20px 20px;
  &#picture { width: 10%; & img {border: 1px solid $container-border-color;} }
  &#profile { width: 70%; }
  &#contact-via { width: 20%; vertical-align: top; }
}

.odd {
  background-color: $odd-row-background-color;
}
