/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

$gold: #A58D4C;
$off-white: #f6f6f6;

span.headline {
  color: $gold;
  font-size: 16px;
  font-weight: bold;
}

td#profile {
  padding-left: 20px;
  width: 70%;
}

td#contact-via {
  width: 20%;
  vertical-align: top;
  padding-left: 20px; 
}

.odd {
  background-color: $off-white;
}
